.header {
  min-height: 110px;
}

.header__screen {
  position: fixed;
  z-index: 10;
}

.header__screen,
.header__container {
  min-height: 110px;
  background: var(--bg-primary);
}

.header-content__wrap {
  align-items: center;
  gap: 80px;
  min-height: 110px;
  font-family: var(--font-family);
  color: var(--text-secondary);
}

.header-logo {
  align-items: center;
  gap: 5px;
}

.header-logo__sign {
  flex-direction: column;
  gap: 5px;
}

.header__burger,
.close-btn--burger,
.callback {
  display: none;
}

.menu-list {
  gap: 48px;
}

.menu-list__item {
  font-size: 20px;
  cursor: pointer;
}

.menu-list__item:hover,
.header-callback:hover {
  opacity: 0.5;
}

.first-screen {
  background: url('../img/des-7.jpg') center no-repeat;
  background-size: cover;
  justify-content: flex-start;
  border-radius: 0 0 15px 15px;
  border: 1px solid black;
}

.first-screen__info {
  padding: 50px 50px;
  max-width: 550px;

  font-family: var(--font-family);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 0 15px;
  color: var(--text-secondary);
}

.about-heading {
  margin: 0 0 10px 0;

  font-size: 22px;
  text-align: center;
}

.first-screen__text {
  font-size: 20px;
  line-height: 112.43%;
  text-align: left;
}

.first-screen__text p {
  margin-bottom: 30px;
}

/* Contact Form Styles */
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -300px;
  padding: 20px;
  display: block;

  font-family: var(--font-family);
  background: var(--bg-primary);
  color: var(--text-secondary);
  border-radius: 15px;
}

.contact-form {
  margin: -15px 0 0 0;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.contact-form h2 {
  font-size: 22px;
  text-align: center;
}

.close-btn {
  position: relative;
  top: -10px;
  left: 570px;

  font-size: 30px;
  color: var(--text-secondary);
  background: none;
  transform: rotate(45deg);
}

.contact-form * {
  padding-left: 15px;
  font-size: 18px;
  border-radius: 15px;
}

.contact-form input {
  width: 580px;
  height: 40px;
}

.submit:hover,
.close-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1312px) {
  .header-content__wrap {
    padding: 0 15px;
    justify-content: space-between;
    border: 1px solid greenyellow;
  }

  .header-menu {
    display: block;
  }

  .header-menu {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;

    padding: 20px 10px;
    width: 100%;
    background-color: var(--bg-primary);
    border: 1px solid green;
    z-index: 1;
  }

  .menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-form-btn {
    display: none;
  }

  .header-mobile {
    align-items: center;
    gap: 20px;
  }

  .callback {
    display: block;
  }

  .callback-icon {
    color: var(--text-secondary);
  }

  .close-btn--burger {
    display: block;
    top: 0px;
    left: 45%;
  }

  .header__burger {
    position: relative;
    top: 0;
    right: 0;

    display: block;
    width: 30px;
    height: 20px;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-secondary);
    top: 9px;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: var(--text-secondary);
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }
}
