.entities {
  min-width: 1280px;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.entities__heading {
  margin-bottom: 50px;

  font-size: 30px;
  text-align: center;
}
