.entities {
  justify-content: center;
  align-items: center;

  min-width: 1280px;
  min-height: 700px;

  background-color: #f3f3f3;
}

.entities__heading {
  margin-bottom: 50px;

  font-size: 30px;
  text-align: center;
}

.entities__main {
  min-width: 640px;
  min-height: 700px;
}

.entities__info {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;

  min-width: 640px;
  min-height: 700px;

  padding-top: 100px;
}

.entities__text {
  max-width: 550px;
  max-height: 500px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 23px;
  line-height: 112.43%;
  text-align: left;
}

.entities__text--stock__wrap,
.entities__text--documents__wrap {
  display: inline-block;
  margin: 10px 0 10px 0;
  border: 1px solid black;
  text-align: center;
}
