.first-screen__main {
  max-width: 656px; /* ! заменить на max-width */
  max-height: 700px; /* ! заменить на max-height */
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.first-screen__info {
  width: 656px; /* ! заменить на max-width */
  height: 700px; /* ! заменить на max-height */
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}
