.footer__screen,
.footer__container {
  min-height: 600px;
  background: #013068;
}

.footer__wrap {
  min-width: 1312px;
  min-height: 600px;

  align-items: center;
  justify-content: center;
  gap: 70px;

  color: white;
}

.footer-logo {
  max-width: 140px;
  max-height: 140px;

  text-align: center;
}

.footer-logo__icon {
  max-width: 140px;
  max-height: 140px;
}

.footer__item {
  min-width: 200px; /* ! заменить на max-height */
  min-height: 150px; /* ! заменить на max-height */
}

.footer-heading {
  text-align: center;
  font-size: 30px;
}

.footer-services,
.footer-menu,
.footer-contacts,
.footer-payment {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-top: 50px;

  font-size: 18px;
}
