.footer__screen,
.footer__container {
  min-height: 450px;
  background: #013068;
}

.footer__wrap {
  min-width: 1312px;
  min-height: 450px;

  justify-content: flex-start;
  align-items: flex-start;
  gap: 70px;

  color: white;
}

.footer-logo {
  max-width: 140px;
  max-height: 140px;

  text-align: center;
}

.footer-logo__icon {
  max-width: 140px;
  max-height: 140px;
}

.footer__item {
  margin-top: 50px;

  max-width: 200px;
  max-height: 150px;
}

.footer-menu__item-href {
  color: white;
}

.footer-heading {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  white-space: nowrap;
}

.footer-services,
.footer-menu,
.footer-contacts,
.footer-payment {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-top: 50px;

  font-family: Roboto, sans-serif;
  font-size: 20px;
}

.footer-services__item:hover,
.footer-menu__item:hover,
.footer-contacts__item:hover {
  opacity: 0.7;
  cursor: pointer;
}
