.header__screen,
.header__container {
  min-height: 80px;
}

.header__wrap {
  display: flex;
  align-items: center;

  margin: 10px 0 10px;
  gap: 80px;
  border: 1px solid orange;
}

.header-logo {
  max-width: 70px;
  max-height: 70px;
  margin-left: 20px;
}

.header-logo__image {
  max-width: 70px;
  max-height: 70px;
}

.menu-list {
  margin: 0 0 0 80px;
  gap: 20px;
}

.menu-list__item {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 97px;
  min-height: 30px;

  font-size: 16px;

  color: #013068;
}

.header-callback {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 124px;
  min-height: 60px;
  font-size: 16px;

  color: #013068;
}
