.individuals {
  min-width: 1280px;
  min-height: 700px;

  background-color: #f3f3f3;
}

.individuals__heading {
  margin: 50px 0 50px 0;

  font-size: 30px;
  text-align: center;
}

.individuals__info {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;

  min-width: 640px;
  min-height: 700px;

  padding-top: 100px;
}

.individuals__text {
  max-width: 550px;
  max-height: 500px;

  font-family: Roboto, sans-serif;
  font-size: 23px;
  text-align: left;
  font-style: normal;
  line-height: 112.43%;
}

.individuals__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  min-width: 640px;
  min-height: 700px;
  padding-top: 100px;
}

.individuals__work-heading {
  font-family: Roboto, sans-serif;
  font-size: 23px;
  text-align: center;
}

.individuals__work {
  display: flex;
  justify-content: center;
  gap: 100px;

  min-width: 550px;
  min-height: 500px;
}

.individuals__place,
.individuals__price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.individuals__text--documents__wrap {
  display: inline-block;
  margin: 10px 0 10px 0;

  text-align: center;
}
