.individuals {
  padding: 50px;
  gap: 20px;
  max-width: 1280px;
  max-height: 700px;

  font-family: var(--font-family);
  background-color: var(--bg-secondary);
  border-radius: 15px;
}

.individuals__main {
  flex-direction: column;
  align-items: center;
  gap: 25px;

  min-width: 590px;
}

.individuals__work-heading {
  font-size: 22px;
}

table.individuals__table {
  margin: 10px 0px;
  width: 100%;
  height: 500px;
  border: 1px solid #ecedee;
}

table.individuals__table th {
  padding: 15px;

  font-size: 22px;
  text-align: center;
  color: #ffffff;
  background: #013068;
  border-right: 1px solid #ecedee;
}

table.individuals__table tr:nth-child(odd) {
  background: #f2f7fd;
}

table.individuals__table td:nth-child(1) {
  text-align: left;
}

table.individuals__table td {
  padding: 4px;
  font-size: 22px;
  vertical-align: middle;
  text-align: center;

  border-bottom: 1px solid #ecedee;
  border-right: 1px solid #ecedee;
}

.individuals__info {
  padding: 0 10px;
  max-width: 590px;
}

.individuals__text {
  font-size: 22px;
  line-height: 112.43%;
  text-align: left;
}

.individuals__text p {
  margin-bottom: 30px;
}

.individuals__text p:last-child {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}

.individuals__list {
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1312px) {
  .individuals {
    flex-direction: column;
    align-items: center;
    max-height: 1700px;
  }

  .individuals__main {
    max-width: 390px;
    min-width: 0px;
  }
}

@media (max-width: 768px) {
  .individuals__work-heading {
    font-size: 16px;
  }

  table.individuals__table th {
    font-size: 16px;
  }

  table.individuals__table td {
    font-size: 16px;
  }

  .individuals__text {
    font-size: 15px;
  }
}
