.portfolio__wrap {
  min-height: 400px;

  margin-left: auto;
  margin-right: auto;
}

.portfolio-container {
  margin-top: 50px;

  max-width: 100%;
  min-height: 400px;
}

.portfolio {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 1280px;
  min-height: 400px;
}

.portfolio-list {
  gap: 1vw;
  margin: 0 25px;
}

.portfolio-list__item {
  flex: 1 1;
}

.portfolio-photo__cover {
  overflow: hidden;
  height: 0;
  padding-bottom: 60%;
}

.portfolio-photo {
  display: block;
  max-width: 100%;
}
