.services {
  text-align: center;
  font-family: var(--font-family);
}

.services-list {
  display: grid;
  grid-template-columns: 440px 440px 440px;
  border: 1px solid black;
}

.services-list__item {
  width: 400px;
  height: 270px;

  font-size: 20px;
  line-height: 112.43%;
  background-color: #f3f3f3;
  border-radius: 15px;
}

.services-list__item:nth-child(1),
.services-list__item:nth-child(2),
.services-list__item:nth-child(3) {
  margin: 0 0 40px 0;
}

.services-item-icon {
  max-width: 84px;
  max-height: 94px;
}

.services-item {
  margin: 10px;
  min-width: 300px;
}

.services-item__heading {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.services-item__heading-text {
  font-size: 22px;
}

.services-item__description {
  display: block;
  margin-top: 20px;

  font-size: 20px;
  text-align: center;
}

@media (max-width: 1312px) {
  .services-list {
    grid-template-columns: 440px 440px;
    justify-content: center;
  }

  .services-list__item {
    align-self: center;
    margin: 0 0 40px 0;
    justify-self: center;
  }
}

@media (max-width: 768px) {
  .services-list {
    grid-template-columns: 440px;
    justify-content: center;
  }
  .services-list__item {
    justify-self: center;
    margin: 0 0 40px 0;
  }
}
